{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./front/src"],
        "alias": {
          "@": "./front/src"
        }
      }
    ]
  ]
}